/* @media screen and (max-width: 400px) {
  body {
    
  }
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  font-family: "Rubik",Sans-Serif;
  position: relative;
}
:root{
  --color-131921:#9403fc;
  --color-3b4149:#fcfcfc;
  --color-febd69:#0a0a0a;
  --color-232f3e:#4a4747;

}
a{
  text-decoration: none;
  display: inline-block;
}

/* Header Starts Here*/

.header-top-strip{
  background-color: var(--color-131921);
  border-bottom:1px solid var(--color-3b4149);
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header-middle-strip{
  background-color: var(--color-131921);
}
.header-middle-strip .input-group-text{
  background-color: #febd69;
  border: #fcfcfc;
}
/* }
.header-middle-strip a{
  font-size:12px;
} */
.form-control{
  box-shadow: none;
  border-color: white;
}

.header-upper-links .p{
  font-size: small;
}

.gap-10{
  gap:10px;
}
.gap-15{
  gap:15px;
}

.gap-30{
  gap:35px;
}


.header-bottom-strip{
  background-color: var(--color-232f3e);
}

.header-bottom-strip .menu-links a{
  font-size: 14px;
  color: white;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-emphasis: none;
  text-transform: uppercase;
}

.menu-bottom .dropdown button{
  font-size: 14px;
  color: white;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-emphasis: none;
  text-transform: uppercase;
  
}
.menu-bottom .dropdown .dropdown-menu{
  background-color: var(--color-131921);
 
}
.menu-bottom .dropdown .dropdown-menu .dropdown-item:hover{
  background-color: var(--color-232f3e);
}

.menu-bottom .dropdown button:focus{
  box-shadow: none;
  border: none;
}

.header-middle-strip .menuicon{
  color: white;
  display: none;
}

.header-bottom-strip .menuicon2{
  display: none;

}

/* Header Ends */

/*Responssive*/

@media (max-width:600px) {

.header-top-strip p{font-size: 2vw;}
.header-middle-strip a{font-size: 4vw;}
.header-bottom-strip row{padding: auto;}
/* .header-middle-strip .menuicon{display: block;} */
.header-upper-links p{display: none;}
.header-upper-links{padding:auto;}
.header-bottom-strip{padding: auto;}
.header-bottom-strip .menu-links a{font-size: 2vw;}
.header-bottom-strip .dropdown button{font-size: 3vw;}
.header-bottom-strip .menu-links {display:none;}

.header-bottom-strip .menuicon2{
  display: block;
  color: white;

}



}