/* @media screen and (max-width: 400px) {
  body {
    
  }
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  font-family: "Rubik",Sans-Serif;
  position: relative;
}

h5,h6,p{
  font-family: "Rubik",Sans-Serif;
}
:root{
  --color-131921:#CC5500;
  --color-3b4149:#fcfcfc;
  --color-febd69:#0a0a0a;
  --color-232f3e:#4a4747;
  --color-f5f5f7:#f5f5f7;
  --color-ededed:#ededed;
  --color-777777:#777777;
  --color-bf4800:#bf4800;
  --color-1c1c1b:#1c1c1b;


  
}
a{
  text-decoration: none;
  display: inline-block;
}

.section-heading{
  font-size: 20px;
  line-height: 30px;
  font-weight: 600 !important;
  margin-bottom: 15px;
}
/* Header Starts Here*/

.header-top-strip{
  background-color: var(--color-131921);
  border-bottom:1px solid var(--color-3b4149);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-middle-strip{
  background-color: var(--color-131921);
}
.header-middle-strip .input-group-text{
  background-color: #febd69;
  border: #fcfcfc;
}
/* }
.header-middle-strip a{
  font-size:12px;
} */
.form-control{
  box-shadow: none;
  border-color: white;
}
.header-upper-links .p{
  font-size: small;
}

.gap-10{
  gap:10px;
}
.gap-5{
  gap: 1rem !important
}
.gap-3{
  gap: 0.3rem !important;;
}
.gap-15{
  gap:15px;
}
.gap-30{
  gap:35px;
}
.header-bottom-strip{
  background-color: var(--color-232f3e);
}
.header-bottom-strip .menu-links a{
  font-size: 14px;
  color: white;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-emphasis: none;
  text-transform: uppercase;
}
.menu-bottom .dropdown button{
  font-size: 14px;
  color: white;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-emphasis: none;
  text-transform: uppercase; 
}
.menu-bottom .dropdown .dropdown-menu{
  background-color: var(--color-232f3e);
}
.menu-bottom .dropdown .dropdown-menu .dropdown-item:hover{
  background-color: var(--color-3b4149);  
  color:black !important;
}
.menu-bottom .dropdown button:focus{
  box-shadow: none;
  border: none;
}
.menu-bottom .dropdown .dropdown-menu .dropdown-item{
  padding: 10px;
  margin-bottom: 1px;
  font-size: 15px;
}
.header-middle-strip .menuicon{
  color: white;
  display: none;
}
.contactclass img{
  height: 2vw;
  width: 2vw;
  
}

.header-bottom-strip .menuicon2{
  display: none;
}
/* Header Ends */
/*Home-wrapper-1 starts*/
.main-banner-content{
  top: 8%;
  left: 3%;
}

.main-banner-content h5{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color:#fcfcfc;
  margin: 0px 0px 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h7{
  font-size: 17px;
  line-height: 64px;
  letter-spacing: -1px;
  font-weight: 500;
  padding: 0;
  text-transform: none;

}


.main-banner-content p{
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.1px;
 
}

.small-banner-content h5{
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  /*color:#fcfcfc;*/
  margin: -6px 0px 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h7{
  font-size: 10px;
  line-height: 44px;
  letter-spacing: -1px;
  font-weight: 500;
  padding: 0;
  text-transform: none;
}


.small-banner-content p{
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1px;
  font-weight: 500px;
 
}


.small-banner-content{
  top: 8%;
  left:4%;
  
}

.small-banner img{
  height:15vw;
  width: 22vw;
}
.button{
  background-color: var(--color-232f3e);
  padding: 8px 20px;
  color:white;
  font-size: 14px;
  margin-top: 60px;
  border-radius: 10px;
  font-weight: 600;
}

.button:hover{
  color: black;
  background-color: white;
}

/*Home wrapper-1 ends*/
/*Home wrapper-2 starts*/

.home-wrapper-2{
  background-color: var(--color-f5f5f7);
}

.home-wrapper-2 img{
  height: 35px;
  width: 35px;
}

.home-wrapper-2 p{
  font-size: 7px;

}

.categories{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.categories img{
  height: 50px;
  width: 60px;
}

.categories div{
  width: 25%;
  padding: 3px;
}

.categories h6{
  font-size: 13px;
}

.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3),
.categories>div:nth-child(4){
  border-bottom: 1px solid var(--color-ededed)
}

.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3){
  border-right: 1px solid var(--color-ededed)
}

.categories>div:nth-child(5),
.categories>div:nth-child(6),
.categories>div:nth-child(7){
  border-right: 1px solid var(--color-ededed)
}

.categories>div>div{
  width: 60%;
}

/*Home wrapper-2 ends*/
/*Marquee start*/

.card-wrapper{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.card-wrapper img{
  height: 50px;
  width: 100px;
}

/*Marquee Ends*/
/*Blog part*/

.blog-card{
  background-color: white;
  border-radius: 10px;
  
}

.blog-card img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 14vw;
  width: 25vw;
}

.blog-content{
  padding: 10px;
}

.blog-content .button{
  background-color: var(--color-232f3e);
  padding: 6px 18px;
  color:white;
  font-size: 12px;
  margin-top: 2px;
  border-radius: 10px;
  font-weight: 400;
}

.blog-content p.date{
  font-size: 9px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  padding: 0;
  color: var(--color-777777);
}


.blog-content h5{
  font-size: 16px;
  color: var(--color-febd69);
}

.blog-content p.desc{
  font-size: 10px;
  line-height: 15px;
  color: var(--color-777777);

}

/*Blog part ends here*/
/*Product card starts*/


.product-card{
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
}

.product-card:hover .action-bar{
  right: 3px;
}

.product-card img{
  height: 10vw;
  width: 10vw;
}

.product-card .product-image{
  height: 100px;
}

.product-card .product-image{
  object-fit: contain;
  transition: 0.3s;
}

.product-card .product-image>img:last-child{
   width: 10vw;
}

.product-card .product-image>img:last-child{
  display: none;
}

 .product-card:hover .product-image>img:nth-child(1){
  display:none;
}

.product-card:hover .product-image>img:last-child{
  display:block;
} 

.product-card .product-details h6{
  color: var(--color-bf4800);
  font-size: 13px;
}

.product-card .product-details h5{
  font-size: 13px;
  color: var(--color-1c1c1b);
  font-weight: 600 !important;
}

.product-card .product-details p.price{
  font-size: 14px;
  color: var(--color-1c1c1b);
}

.action-bar{
  top:15%;
  right:-20px;
  transition: 0.3s;
}

.action-bar img{
  height: 1.5vw;
  width: 1.5vw;
}

.wishlist-icon img{
  height: 2vw;
  width: 2vw;
}

.wishlist-icon{
  top: 0px;
  right: -117px;
}

/*Product card ends*/
/*Special Product card starts*/

.special-product-card{
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
}

.special-product-card img{
  height: 12vw;
  width: 15vw;
}

.special-product-card .special-product-content h5{
  color: var(--color-bf4800);
  font-size: 13px;
}

.special-product-card .special-product-content h6{
  font-size: 13px;
  color: var(--color-1c1c1b);
  font-weight: 600 !important;
}

.special-product-card .special-product-content p.price{
  font-size: 12px;
  color: var(--color-1c1c1b);

}
.product-count p{
  font-size: 13px;
}

.special-product-content .button{
  padding: 4px 12px !important;
}

.progress{
  height: 6px;
}
.special-product-card .special-product-content .discount p{
  font-size: 12px;
}

.special-product-card .special-product-content .discount{
  margin-top: -15px;
}

/*Special Product card ends*/

/* Footer Start */

footer{
  background-color: var(--color-232f3e);
}

.footer-end p{text-align: end;}
.footer-end{border-top:1px solid grey;}

.footer-middle{border-top: 1px solid grey;}

.footer-top .input-group-text{
  background-color:var(--color-232f3e);
  color: white;
  padding: 8px 17px;
}
.social-icons{
  
  align-items: center;
}

.foooter-middle h6{
  font-weight: 500; 
}

/* Footer Ends */

/*Responssive*/

@media (max-width:600px) {

.header-top-strip p{font-size: 2vw;}
.header-middle-strip a{font-size: 4vw;}
.header-bottom-strip row{padding: auto;}
/* .header-middle-strip .menuicon{display: block;} */
.header-upper-links p{display: none;}
.header-upper-links{padding:auto;}
.header-bottom-strip{padding: auto;}
.header-bottom-strip .menu-links a{font-size: 2vw;}
.header-bottom-strip .dropdown button{font-size: 3vw;}
.header-bottom-strip .menu-links {display:none;}
.header-bottom-strip .menuicon2{
  display: block;
  color: white;
}
}